<!--  Interpolação -->
<h1> {{ titulo }} </h1>
<h2>{{ getSubtitulo() }}</h2>

<p><strong>Valor {{valor}}</strong></p>

<!-- <ol>
  <li> Leo </li>
  <li> Natalia </li>
</ol> -->

<!-- não utilizar(outdated)-->
<!-- <ol>
  <li *ngFor="let item of nomes"> {{item}} </li>
</ol> -->

<ol>
  @for (item of nomes; track $index; let i = $index) {
    <li (click)="removerSelecionado($index)"> {{$index}}:{{ item }} </li>
  } @empty {
    <li> nenhum elemento na lista </li>
  }
</ol>

<!-- Event binding -->
<!-- o console.log mostra no inspecionar elemento -->
<button (click)="exibir()"> exibir </button> 
<button (click)="adicionar()"> adicionar </button> 
<button (click)="removerPrimeiro()"> remover primeiro</button> 
<button (click)="removerUltimo()"> remover ultimo</button> 
<!-- da pra colocar eventos em quaisquer elemento do html -->
<!-- <h3 (click)="diminuir()">Diminuir</h3> -->

<router-outlet />
